* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(47, 47, 208);
    background: radial-gradient(circle, rgba(1, 1, 62, 0.933) 25%, rgba(100, 107, 134, 0.902) 53%, rgba(0, 46, 84, 0.905) 66%);
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: rgb(174, 172, 169);
}

.red {
    color: red;
    cursor: pointer;

}

.green {
    color: green;
    cursor: pointer;
}

.blue {
    color: blue;
    cursor: pointer;
}

.gray {
    color: gray;
    cursor: pointer;
}

.pink {
    color: pink;
    cursor: pointer;
}

ul {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: rgb(2, 110, 113);
}

a:hover {
    color: rgb(24, 0, 47);
}