* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(131, 131, 190), rgb(113, 165, 165));
    flex-direction: row-reverse;
    display: flex;
    align-items: start;
    height: 100vh;
    justify-content: end;
}