* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: linear-gradient(150deg, rgb(215, 93, 195) 70%, rgb(161, 9, 184) 100%);
    padding-bottom: 400px;

}

table {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    width: 500px;
    margin-top: 200px;
    align-items: center;

}

th {
    padding-bottom: 5px;
    padding-left: 5px;
}

td {
    padding-bottom: 5px;
}

tr:nth-child(1) {

    background-color: rgb(207, 43, 207);
}

tr:nth-child(2n) {
    background-color: rgb(189, 189, 189);
}

tr:nth-child(3n) {
    background-color: white;
}

tr:nth-child(5) {
    background-color: white;
}

tr:nth-child(7) {
    background-color: white;
}

th {
    margin-left: 10px;
}