* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(21, 79, 105);
    background: linear-gradient(90deg, rgb(47, 132, 181) 45%, rgb(102, 45, 163) 57%);
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 250px;
    margin-top: 200px;
}
tr:first-child {
    background-color: rgb(35, 84, 113);
}
td {
    background-color: rgb(151, 137, 166);
    color: white;
    border: none;
}
td:nth-child(2){
    background-color: rgb(193, 199, 209);
}
