* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 214, 181);
}

table {
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 7px solid rgb(221, 79, 3);
}

h1 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(128, 60, 12);
    width: 250px;
    margin-top: 50px;
}

tr:nth-child(1n) {
    background-color: rgb(229, 170, 91);
}

th {
    background-color: rgb(152, 69, 24);
}

tr:nth-child(2n) {
    background-color: rgb(241, 241, 241);

}

tr:nth-child(2) {
    background-color: rgb(152, 69, 24);
}