table {
    border: 2px;
    width: 30%;
    margin-top: 10px;
    text-align: center;
}

.t-1 {
    width: 100%;
    height: 100%;
}

th,
td {
    padding: 10px;
    text-align: center;
}


td {
    border: 1px solid black;

}

.tb-1 {
    border: 1px solid black;
    width: 20%;
    height: 15%;
    margin-top: 15px;
    text-align: center;

}

.td-1 {
    padding-top: 1px;
    padding-bottom: 1px;


}

.td-2 {
    padding: 5px;
    text-align: center;
    width: 50px;
    height: 50px;

}

.td-3 {
    padding: 10px;
    text-align: center;
    width: 50px;
    height: 50px;

}

.td-4 {
    padding: 8px;
    width: 40px;
    height: 40px;
}

.p-1 {
    font-size: xx-large;
    color: darkgreen;
    font-style: initial;
}

.tr-1 {
    padding: 5px;
    width: 100px;
    height: 100px;
}


.tb-21,
.tb-21 {
    border: 2px solid rgb(109, 18, 6);
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 3px;

}

.tt-1 {
    padding-left: 10px;
}

.tdd-3 {
    text-align: center;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;

}

div {
    padding: 5px;
    padding-left: 10px;
}