* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    color: blanchedalmond;
}
body {
    background-image: url(./assets/image/blue-background-7470781_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

